

.navbar {
    position: fixed; /* navbar, main 분리 */
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100vh;
    padding: 10px;
    border-right: 1px solid rgb(229, 229, 229);
    background-color: white;
}

.nav_logo > img {
    width: 100px;
    padding: 10px;
}

.nav_list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
}

.nav_list:hover {
    cursor: pointer;
    background-color: rgb(255, 243, 246);
    color: palevioletred;
}

.nav_list > img {
    width: 30px;
}

.nav_list:hover img {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}

.profile {
    display: flex;
    padding: 0px 0px 50px 0px;
}

.profile_image {
    display: flex;
    align-items:center;
    padding: 0 50px 0 50px;
}

.profile_image > img {
    width: 150px;
    border-radius: 50%;
}

.profile_block_1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile_id {
    font-size: 25px;
    margin-right: 20px;
}

.profile_button {
    background-color: rgb(239, 239, 239);
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    padding: 8px;
    margin: 0 5px;
}

.profile_button:hover {
    cursor: pointer;
    background-color: rgb(255, 243, 246);
    color: palevioletred;

}

#profile_setting_btn {
    background-color: initial; /* none (없애기, image), transparent (투명, color), initial*/
}

#profile_setting_btn > img {
    height: 35px;
}


.profile_block_2 {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.profile_count {
    list-style: none;
}

.strong {
    font-weight: bold;
}


.profile_block_3 {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.profile_link {
    display: flex;
    height: 15px;
}

.profile_modal {
    overflow: hidden;
}

.profile_modal::backdrop {
    position: fixed;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#profile_save {
    color: blue;
    position: absolute;
    font-size: 15pxß;
}

#profile_modal_close {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 5px 10px;
}






















.post {
    width: 100%;
}

.postbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    font-size: 12px;
    font-weight: bold;
    gap: 50px;
    border-top: 1px solid rgb(239, 239, 239);
}

.post_item {
    border-top: 1px solid black;
    padding: 20px 0;
}

.post_item > img {
    height: 12px;
}

.gallary_no_post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 100px 0;
    margin-left: 100px;
}

.gallary_no_post > img {
    width: 30px;
    padding: 15px;
    border: 3px solid black;
    border-radius: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: grey;
    padding-bottom: 80px;
}

.footer_link {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer_copyright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_copyright > span {
    display: flex;
    align-items: center;
}

.footer_copyright > span img {
    height: 20px;
}









/*
모달
dialog >form
display: 


*/

